WCDB1.xsd.xml

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="Crisis">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="start" type="xs:dateTime"/>

    </xs:sequence>
  </xs:complexType>
</xs:element>

</xs:schema>